<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login MiParqueadero</title>
    <!--Estilos-->
    <link rel="stylesheet" href="../css/estilos.css">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
</head>

<body class="blue-grey darken-3">

    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3 z-depth-1  light-blue darken-4 center" id="panel">
                <div>
                    <img class="logotipo" src="../css/img/logo.png" alt="">
                </div>
                <br>
                <br>
                <form action="">

                    <div class="input-field">
                        <input id="username" type="text" class="validate">
                        <label for="username">Usuario</label>
                    </div>

                    <div class="input-field">
                        <input id="password" type="password" class="validate">
                        <label for="password">Contraseña</label>
                    </div>

                    <div>
                        <a class="waves-effect waves-light teal accent-4 btn" id="loginbtn"
                            href="home.html">Ingresar</a>
                    </div>
                    <div>
                        <a href="#">Olvidaste tu contraseña?</a>
                    </div>
                    <br>
                    <div>
                        <a href="#">Crear nueva cuenta</a>
                    </div>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>













    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Initializacion de componentes JavaScript -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>
</body>

</html>